<h1>Manage</h1>
<% @articles.each do |article| %> <!-- 記事を一つずつ取得 -->
    <ul>
        <li>
            <%= link_to("/blog/#{article.id}/status",{method:"get"}) do %> <!-- 本文ページへ -->
                    <%= article.title %> <!-- タイトル -->
            <% end %>

            <p><%= time_ago_in_words(article.updated_at) %> ago</p> <!-- どれくらい前に更新されたか -->

            <% unless article.image == "" %> <!-- ヘッダー画像があるとき -->
                <img src="<%= article.image %>" style="max-width:20vw;min-width:10vw;"> <!-- 画像 -->
            <% end %>

            <p><%= truncate(article.content, length: 103) %></p> <!-- 本文 -->
            
            <%= link_to("/blog/#{article.id}/destroy",{method:"delete"}) do %>
                <input type="submit" value="delete"> <!-- 記事削除 -->
            <% end %>
            <%= link_to("/blog/#{article.id}/edit",{method:"get"}) do %>
                <input type="submit" value="edit"> <!-- 記事編集 -->
            <% end %>

        </li>
    </ul>
<% end %>