<main id="status_main">

        <!-- header部分 -->

        <div id="btop">
        <div id="header">
        
        <div id="ch_btop">
        <a id="to_top" href="/#top">
            <svg id="daruo_logo" xmlns="http://www.w3.org/2000/svg" width="249.772" height="78" viewBox="0 0 249.772 78">
            <g transform="translate(-102.228 -110)">
                <g>
                <text class="logo_style1" transform="translate(169 172)"><tspan x="0" y="0">Daruo</tspan></text>
                <path class="logo_style2" d="M135.127,40.482a11.426,11.426,0,0,1,.666,3.848h2.866a14.33,14.33,0,1,0-14.33,14.33c.229,0,.459-.007.688-.014l-.172-2.859c-.172.007-.344.014-.509.014a11.368,11.368,0,0,1-2.895-.373l3.747-10.31Zm-.91-1.949-7.989,3.726,3.016-8.283A11.54,11.54,0,0,1,134.217,38.533Zm-15.684-4.091,3.726,7.989-8.283-3.016A11.54,11.54,0,0,1,118.533,34.442Zm-5.667,9.887a11.368,11.368,0,0,1,.373-2.895l8.29,3.016-8,3.726A11.426,11.426,0,0,1,112.866,44.33Zm6.549,10.353a11.54,11.54,0,0,1-4.972-4.557l7.989-3.726Zm1.068-21.151a11.437,11.437,0,0,1,6.742-.294l-3.016,8.29Zm29.727,4.349H160.87V35.015H150.209a4.293,4.293,0,0,0-4.17,3.253l-2.049,8.211h-17.6l3.038,50.154h27.054l3.038-50.154H146.942l1.877-7.509A1.431,1.431,0,0,1,150.209,37.881ZM129.431,49.345h13.835l-2.214,8.87H129.976Zm24.36,44.422H132.125l-1.992-32.829h25.643Zm2.694-44.422-.537,8.87H144.011l2.214-8.87Z" transform="translate(-7.772 80)"/>
                </g>
                <text class="logo_style3" transform="translate(326 131)"><tspan x="-24.086" y="0">blog</tspan></text>
            </g>
            </svg>
        </a>
        </div>
            
            <!--<img id="daruo_logo" src="/assets/logo.svg">-->
            <input type="checkbox" id="menu_ham">
            <label for="menu_ham"><img id="menu_logo" height="100%" width="100%" src="/assets/menu_ham.svg"></label>
            <nav id="menu_nav">
                <div><a href="/">portfolio</a></div>
                <div><a href="/blog">index</a></div>
            </nav>
        </div>
        </div>

    
    <div class="status_title_set">
        <h3><%= @article.title %></h3>
    
        <div class="status_time">
            <div id="c_at"><%= @article.created_at.strftime("%Y/%m/%d %H:%M") %></div> <!-- 作成日時 -->
            <% if @article.updated_at != @article.created_at %>
                <div id="u_at"><%= @article.updated_at.strftime("%Y/%m/%d %H:%M 更新") %></div> <!-- 更新したとき、その日時も表示 -->
            <% end %>
        </div>
    </div>

    <div id="status_article">

        <div class="status_header">
            <% unless @article.image == "" %> <!-- 画像リンクがあるとき -->
                <img src="<%= @article.image %>"> <!-- ヘッダー画像 -->
            <% else %>
                <img src="/assets/no_image_title.svg"> <!-- noimage画像 -->
            <% end %>
        </div>

        <!-- 本文 -->

        <div class="status_content"><div id="p_status"><%= raw @article.content %></div></div>
    
    </div>
</main>